* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    align-items: center;
    background-color: #05204a;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

header,
footer {
    color: #b497d6;
    margin: 2vh;
    text-align: center;
}

div.album {
    display: flex;
    height: 37vw;
    width: 37vw;
}

div.album div.column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
}

div.album div.column a {
    cursor: pointer;
    height: 25%;
    position: relative;
    transform: scale(0.95);
}

div.album div.column a figure {
    height: 100%;
}

div.album div.column a figure img {
    height: 100%;
    transition: 0.5s;
}

.album:hover .image {
    filter: grayscale(1);
    transform: scale(0.98);
}

a:hover .album.image {
    filter: grayscale(0);
    transform: scale(1.05);
}

div.album div.column a figcaption {
    background-color: #e1e2ef8f;
    color: #02020a;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 70%;
    text-align: center;
    transition: 0.5s;
    width: 100%;
}

div.album div.column a:hover figcaption {
    opacity: 1;
}
