* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #5e574d;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

header,
footer {
    color: #9dad6f;
    margin: 10vh;
    text-align: center;
}

header {
    font-size: 5vh;
}

.pendulo {
    display: flex;
    border-top: 1vh solid #c3dfe0;
}

.pendulo span {
    background-color: #c3dfe0;
    display: block;
    height: 50vh;
    margin: 0 2vw;
    position: relative;
    transform-origin: top;
    width: 0.2vw;
}

.pendulo span::after {
    background-color: #c3dfe0;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 4vw;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    width: 4vw;
}

.pendulo span:nth-child(1) {
    animation: left-rotate 2s ease-in infinite;
}

@keyframes left-rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.pendulo span:nth-child(5) {
    animation: right-rotate 2s ease-in infinite 1s;
}

@keyframes right-rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

footer {
    font-size: 3vh;
}
