*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #363535;
    height: 100vh;
    position: relative;
}

header, footer{
    color: whitesmoke;
    font-family: monospace;
    font-size: 3vh;
    position: absolute;
    text-align: center;
}

header{
    left: 50vw;
    top: 5vh;
    transform: translateX(-50%);
}

footer{
    bottom: 5vh;
    left: 50vw;
    transform: translateX(-50%);
}

div.phone{
    align-items: center;
    background-color: black;
    border-radius: 5vh;
    box-shadow: 10px 10px 5px #181717;
    display: flex;
    height: 70vh;
    justify-content: center;
    left: 50vw;
    position: absolute;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 40vh;
}

div.phone div.screen{
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px #080808 inset;
    height: 55vh;
    width: 35vh;
}

div.phone div.screen div.call{
    background-color: #1f741f;
    color: whitesmoke;
    font-family: Arial;
    height: 30vh;
    position: relative;
    width: 100%;
}

div.phone div.screen div.call h2{
    font-size: 2vh;
    left: 1vh;
    position: absolute;
    top: 1vh;
}

div.phone div.screen div.call h3{
    font-size: 10vh;
    left: 50%;
    position: absolute;
    top: 5vh;
    transform: translateX(-50%);
}

div.phone div.screen div.call h4{
    font-size: 3vh;
    left: 50%;
    position: absolute;
    top: 18vh;
    transform: translateX(-50%);
}

div.phone div.screen div.call h5{
    font-size: 2vh;
    left: 50%;
    position: absolute;
    top: 22vh;
    transform: translateX(-50%);
}

div.phone div.screen div.container{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 45vh;
    width: 35vh;
}

div.phone div.screen div.container div.yes,
div.phone div.screen div.container div.no{
    align-items: center;
    border-radius: 50%;
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    font-size: 5vh;
    height: 10vh;
    justify-content: center;
    position: relative;
    transition: 0.3s;
    width: 10vh;
}

div.phone div.screen div.container div.yes{
    background-color: #1f741f;
}

div.phone div.screen div.container div.no{
    background-color: #da0b0b;
}

div.phone div.screen div.container div.yes:hover,
div.phone div.screen div.container div.no:hover{
    opacity: 0.8;
}

div.phone div.screen div.container div.yes::after,
div.phone div.screen div.container div.yes::before {
    animation: pulse 1.5s linear infinite;
    border: 1px solid #1f741f;
    border-radius: 50%;
    content: "";
    height: 10vh;
    position: absolute;
    width: 10vh;
}

div.phone div.screen div.container div.yes::before {
    animation-delay: 0.5s;
}

@keyframes pulse {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}